.navbar-brand {
    color: #000000;
    font-family: 'Freight Sans', 'lucida grande',tahoma,verdana,arial,sans-serif
}

.dtitle {
    color: #FFFFFF;
    padding: 10% 30% 0 30%;
    position: absolute;
    
}

.mtitle {
    color: #FFFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-shadow: 2px 2px #888888;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.7);
}

.mtitle2 {
    color: #FFFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: rgba(0, 0, 0, 0.7);
}

.mtitle3 {
    color: #FFFFFF;
    font-family: Georgia, serif;
    background-color: rgba(0, 0, 0, 0.7);
}

.mtitle3 >a, .mtitle3 >a:visited, .mtitle3 >a:hover, .mtitle3 >a:active {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Georgia, serif;
    background-color: rgba(0, 0, 0, 0.7);
}

  .thumbnail.with-caption {
    display: inline-block;
    background: #f9f9f9;
  }
  .thumbnail.with-caption p {
    margin: 0;
    padding-top: 0.5em;
  }
  .thumbnail.with-caption small:before {
    content: '\2014 \00A0';
  }
  .thumbnail.with-caption small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
  }